<div class="w-full">
  <div class="max-w-2xl w-full mx-auto py-8">
    <p><%= current_user.handle_name %></p>
    <hr>
  </div>
  <div class="flex">
    <%= render partial: "post_form", locals: {post: @post} %>
    <%= render partial: "post_list", locals: {posts: @posts} %>
  </div>
</div>