<div class="w-full">
  <div class="max-w-2xl w-full mx-auto py-8">
    <p><%= current_user.handle_name %></p>
    <hr>
  </div>
  <%= render partial: "post_list", locals: {posts: @posts, post: @post} %>
</div>
