<div>
  <%= form_with model: @post do |f| %>
    <div class="form-group">
      <%= f.label :body, value: "本文" %>
      <%= f.text_field :body %>
    </div>
    <%= f.submit "送信", class: "btn btn-blue" %>
  <% end %>
</div>
